SECRET_KEY=your secret key

DB_HOST=your host
DB_NAME=your database name
DB_USER=your username
DB_PASSWORD=your password
DB_PORT=your port

SERPAPI_API_KEY=your key

USE_AZURE_KEY_VAULT=true
AZURE_KEY_VAULT_URL=https://your-key-vault-name.vault.azure.net/