# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Database backups
database/database_backup.sql


# Python cache
__pycache__/
*.py[cod]

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log