# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Database backups
database/database_backup.sql


# Python cache
__pycache__/
*.py[cod]

# IDE files

.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Azurite local storage
AzuriteConfig
__azurite_db_*.json
__blobstorage__/
__queuestorage__/

